.gallery-root {
  text-align: center;
  overflow-y: scroll;
  overflow: auto;
  max-height: 100vh;
}

.gallery-header {
  background-color: #222;
  padding: 10px;
  color: white;
  font-size: 20pt;
}

.gallery-intro {
  font-size: 15pt;
}
